<ul class="comment-list">
    {{#each comments}}
    <li>
        <p>{{this.comment_text}}</p>
        <button data-id="{{this.id}}" data-postid="{{../post_id}}">Delete</button>
    </li>
    {{/each}}
</ul>