<div class="container">
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <h2>Update Password</h2>
      <div id="updatePasswordMessage"></div>
      <form id="update-password-form" data-user-id="{{user.id}}">
        <div class="input-field">
          <label for="newPassword">New Password:</label>
          <input type="password" id="newPassword" name="newPassword" required>
        </div>
        <button class="btn waves-effect waves-light" type="submit">Update Password</button>
      </form>
    </div>
  </div>
</div>
<script src="/js/updatePassword.js"></script>
