<!-- all-posts.handlebars -->
<h1>All Posts</h1>

{{#each allPosts}}
    <div class="post">
        <h3>{{this.title}}</h3>
        <p><a href="api/comments">{{this.post_contents}}</p>
        <p>Author: {{User.username}}</p>
    </div>
{{/each}}