  <div class="row">
    <div class="col s12 m6 offset-m3">
      <div class="card-panel">       
        <div class="errorMessageContainer" id="errorMessageContainer"></div>
      {{#if errorMessage}}
        <div class="error-message">Error: {{errorMessage}}</div>
      {{/if}}
        <h4 class="center-align">Login</h4>         

        <form id="login-form" method="POST" action="/api/users/login">
          <div class="input-field">
            <input
              type="email"
              id="email-login"
              name="email"
              class="validate"
              required
            />
            <label for="email-login">Email:</label>
          </div>
          <div class="input-field">
            <input
              type="password"
              id="password-login"
              name="password"
              class="validate"
              required
            />
            <label for="password-login">Password:</label>
          </div>
          <div class="input-field center-align">
            <button
              class="btn waves-effect waves-light blue"
              type="submit"
            >Login</button>
          </div>
          <div class="center-align">
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="js/login.js"></script>

